NEXT_PUBLIC_APP_URL=https://app.lekhacaptions.com
NEXT_PUBLIC_SUPPORT_EMAIL=support@lekhacaptions.com
NEXT_PUBLIC_LEGAL_BUSINESS_NAME=
NEXT_PUBLIC_LEGAL_BUSINESS_ADDRESS=
NEXT_PUBLIC_GOVERNING_VENUE=
NEXT_PUBLIC_GRIEVANCE_OFFICER_NAME=
NEXT_PUBLIC_GRIEVANCE_EMAIL=support@lekhacaptions.com
